<?xml version="1.0"?>
<launch>
  <include file="$(find akagachi_demo)/launch/rsv10_minimal.launch"/>
  

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="use_gui" value="true"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find akagachi_demo)/config/layout.rviz'"/>
</launch>
